@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #14131A;
  color: #fff;
  position: relative;
  height: 100vh;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  
}

.header {
  display: flex;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 80px;
}

.logo-link {
  display: inline-block;
  
}

.nav-menu {
  display: flex;
  /* padding: 0; */
  margin: 0;
  list-style: none;
}

.nav-menu__item {
  margin-right: 30px;
  z-index: 4;
}

.nav-menu__link{
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.5);
}

.film-date {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 38px;
  }

.film-description {
  max-width: 423px;
  margin-top: 40px;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
}  

.button-group {
  display: flex;
  margin-top: 70px;
  z-index: 15;
}

.button {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  border-radius: 6px;
}
.button-play {
  background: #FFFFFF;
  color: #8D0019;
  margin-right: 20px;
  transition: all 0.5s;
  border: 3px solid transparent;

}
.button-play:hover {
  background: #fcb3c0;
  color: #fff;
  border: 3px solid #8D0019;
}

.button-ticket {
  color: #fff;

}

.button-img {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  padding: 0;
}

.img1 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
}
.img2 {
  position: absolute;
  top: 0;
  left: 40%;
  bottom: 0;
  right: 0;
  width: 50vw;
  height: 100%;
  z-index: -2 ;
}
.img3 {
  position: absolute;
  top: 0;
  right: 0;
  width: 60vw;
  height: 100%;
}